<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CustomersDb" 
			 connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\bpalasamudrum\source\repos\CustomersInfo\CustomersInfo\CustomersDatabase.mdf; Integrated Security = True; Connect Timeout = 30" />
	</connectionStrings>
</configuration>